[package]
name = "homectl-rs"
version = "0.1.0"
authors = ["Rasmus Eskola <fruitiex@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
config = "0.9"
serde = { version = "1.0", features = ["derive"] }
palette = "0.5"